@import 'universal';

#summary-section {
	background-color: $accent-color;
	padding: 30px 0;
	width: 100%;
}

#summary-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

#summary-pic {
	width: 35%;
}

#summary-pic img {
	border: 2px #000 solid;
	width: 100%;
}

#summary-text {
	width: 50%;
}

#summary-text h2 {
	color: $action-color;
	font-size: 40px;
	margin-bottom: 20px
}

#summary-text p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
}

#summary-resume {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#summary-resume button {
	color: #fff;
	background-color: $primary-color;
	border: 2px #fff solid;
	border-radius: 4px;
	font-size: 20px;
	padding: 30px;
	width: 25%
}