@import 'universal';

#summary-title {
	display: block;
	text-align:center;
}

#summary-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

#summary-text {
	margin-left: 50px;
}

#summary-text p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}

#summary-resume {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#summary-resume a {
	color: #fff;
	background-color: $primary-color;
	border: 2px #fff solid;
	border-radius: 4px;
	font-size: 20px;
	padding: 30px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	width: 25%
}

#summary-resume a:hover {
	color: $primary-color;
	background-color: $accent-color;
	border: 2px $primary-color solid;
}

@media screen and (max-width: 950px) {
	#summary-wrapper {
		align-items: center;
		display: block;
	}

	#summary-pic {
		display: none;
	}

	#summary-text {
		width: 100%;
	}
}