$header-font: 'Yellowtail', cursive;
$text-font: 'Montserrat', sans-serif;
$primary-color: #2B2118; //dark brown 
$action-color: #990D35; //wine
$accent-color: #AF9164; //beige

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFAFA;
}

h1, h2, h3, h4 {
	font-family: $header-font;
}

p, a, ol, ul, li, span, button {
	font-family: $text-font;
}

a {
	text-decoration: none;
}

.container {
	margin: 50px 100px;
	max-width: 1500px;
}

.top-margin {
	margin-top: 20px;
}

.section {
    background-color: $accent-color;
    padding: 30px 0;
    width: 100%;
}

.title h2 {
    color: $action-color;
    font-size: 40px;
    margin-bottom: 30px
}