$header-font: 'Yellowtail', cursive;
$text-font: 'Montserrat', sans-serif;
$primary-color: #990D35; //wine 
$action-color: #F2AF29; //yellow
$accent-color: #474747; //dark gray

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E0E0CE;
}

h1, h2, h3, h4 {
	font-family: $header-font;
}

p, a, ol, ul, li, span {
	font-family: $text-font;
}

a {
	text-decoration: none;
}

.container {
	margin: 50px 100px;
	max-width: 1500px;
}

.top-margin {
	margin-top: 20px;
}