/**************************
        Universals
**************************/
:root {
  --headerfont: 'Berkshire Swash', cursive;
  --bodyfont: 'Open Sans', sans-serif;
  --primary: #42a5f5;
  --pdarker: #0077c2;
  --plighter: #80d6ff;
  --secondary: #ffa726;
  --sdarker: #c77800;
  --slighter: #ffd95b;
  --background: rgb(253, 243, 237);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

a:-webkit-any-link {
  text-decoration: none;
}

h1,
h1 a,
h2,
h3,
h4 {
  font-family: var(--headerfont);
  margin: 0;
}

p,
span,
ul,
li,
p a,
a {
  font-family: var(--bodyfont);
}

h2 {
  font-size: 24pt;
}

h2 a {
  color: #000;
}

h3 {
  font-size: 20pt;
}

p {
  font-size: 14pt;
}

p a {
  color: var(--pdarker);
}

.container {
  padding: 50px 65px;
}

.wrapper {
  padding: 0 20px;
}

.margin-top {
  margin-top: 50px !important;
}

/**************************
          Header
**************************/

#header {
  text-align: center;
}

#header h1 a {
  color: var(--primary);
  font-size: 42pt;
  text-shadow: 2px 1px var(--slighter);
}

#nav,
#contact {
  list-style-type: none;
  padding: 0;
}

#nav li,
#contact li {
  display: inline;
  margin: 0 20px;
}

#nav li a {
  color: var(--sdarker);
  font-size: 18pt;
}

#nav li a:hover {
  border-bottom: 2px var(--sdarker) solid;
  border-top: 2px var(--sdarker) solid;
}

#contact li a {
  color: var(--pdarker);
  font-size: 30pt;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#contact li a:hover {
  color: var(--secondary);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/**************************
        Sticky Nav
**************************/

#sticky-header {
  background-color: var(--plighter);
  background: linear-gradient(to top, rgba(157, 213, 253, 0.65), rgba(157, 213, 253, 1));
  display: none;
  font-weight: bold;
  justify-content: space-around;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#sticky-header a {
  color: #000;
}

#sticky-name,
#sticky-nav,
#sticky-nav li,
#sticky-contact,
#sticky-contact li {
  display: inline;
}

#sticky-nav,
#sticky-contact {
  margin: 0;
  -webkit-padding-start: 0px;
}

#sticky-nav li,
#sticky-contact li {
  padding: 0 10px;
}

#sticky-nav {
  list-style-type: none;
  padding-top: 5px;
}

#sticky-contact {
  font-size: 18pt;
}

#hidden-contact {
  display: none;
}

/**************************
       Title Section
**************************/

.title {
  background-color: var(--secondary);
  color: #000 !important;
  font-family: var(--headerfont) !important;
  padding: 30px 0 30px 50px;
}

/**************************
          Resume
**************************/
.button {
  background-color: var(--primary);
  border: 2px var(--background) solid;
  border-radius: 5px;
  color: var(--background);
  display: flex;
  font-size: 24pt;
  height: 100px;
  justify-content: center;
  margin: 50px auto 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 300px;
}

.external-link {
  background-color: var(--primary);
  border: 2px var(--background) solid;
  border-radius: 5px;
  color: var(--background);
  display: block;
  font-size: 24pt;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 300px;
}

.button:hover,
.external-link:hover,
.project-link:hover {
  background-color: var(--background);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover,
.external-link:hover {
  border: 2px var(--primary) solid;
  color: var(--primary);
}

.project-link:hover {
  border: 2px var(--pdarker) solid;
  color: var(--pdarker);
}

.button:focus {
  outline: none;
}

/**************************
          About
**************************/
#me {
  border: 1px var(--sdarker) solid;
  border-radius: 5px;
  display: inline-block;
  float: right;
  height: 300px;
  margin: 1em 50px 0 1em;
  width: 300px;
}

#about-content {
  display: inline-block;
  width: 60%;
}

/**************************
        Development
**************************/

.project-icon-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

div.project-icon-wrapper:first-of-type {
  margin: 0;
}

.dev-project {
  border: 2px var(--sdarker) solid;
  border-radius: 5px;
  height: 400px;
  width: 40%;
}

#birdspotting {
  background-image: url('images/birdspotting.png');
  background-size: contain;
}

#todolist {
  background-image: url('images/todolist.png');
}

#burnbook {
  background-image: url('images/burnbook.png');
}

#yellowpiece {
  background-image: url('images/yellowpiece.png');
}

#compositionc {
  background-image: url('images/compositionc.png');
}

#todolist,
#burnbook,
#yellowpiece,
#compositionc {
  background-size: cover;
}

#todolist,
#burnbook,
#yellowpiece {
  background-position-x: 50%;
}

.project-details {
  background-color: rgba(199, 120, 0, 0.75);
  display: none;
  height: 90%;
  padding: 20px;
}

.show {
  display: block;
}

.project-details h3 {
  color: #000;
}

.project-details p {
  color: #fff;
  font-size: 12pt;
}

.project-details .link-wrapper {
  margin-top: 30px;
}

.project-details .link-wrapper .project-link {
  font-size: 14pt;
  padding: 10px;
}

.project-details .link-wrapper .project-link:hover {
  background-color: transparent;
  border: 2px #000 solid;
  color: #000;
}

/**************************
      Writing Modal
**************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-title,
.modal-subtitle {
  text-align: center;
}

.modal-text p {
  margin-top: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.project {
  margin: 30px 0;
}

.link-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.project-link {
  background-color: var(--pdarker);
  border: 2px #fff solid;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 18pt;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#youtube-link {
  display: none;
}

/**************************
        Back to Top
**************************/

#jump-to-top {
  bottom: 10px;
  font-size: 20pt;
  max-width: 450px;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-align: center;
  z-index: 999;
}

a #jump-to-top {
  color: var(--pdarker);
}

a #jump-to-top p {
  color: var(--pdarker);
  font-size: 9pt;
  font-weight: bold;
  margin: 0;
}

.fa-arrow-up {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.move-up {
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/**************************
        Media Query
**************************/
@media only screen and (max-width: 1150px) {
  #me {
    display: none;
  }

  #about-content {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .project-icon-wrapper {
    display: block;
  }

  .dev-project {
    margin: 30px auto 0;
    width: 75%;
  }

  .dev-project:first-of-type,
  .project-details .link-wrapper .project-link:first-of-type {
    margin-top: 0;
  }

  .project-details .link-wrapper .project-link {
    padding: 5px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .screenshot-wrapper,
  .description-wrapper {
    width: 100%;
  }

  a #jump-to-top p {
    display: none;
  }

  #birdspotting {
    background-size: cover;
    background-position-x: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .link-wrapper {
    display: block;
  }

  #youtube-link {
    display: block;
  }

  #video {
    display: none;
  }

  #hidden-contact {
    display: inline;
  }

  #sticky-contact {
    display: none;
  }

  #burnbook-desc p:last-of-type {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20px;
  }

  .title {
    padding: 30px;
  }

  .button {
    width: 250px;
  }

  .external-link {
    font-size: 18pt;
    width: 50%;
  }

  #about-content {
    width: 85%;
  }

  .project-link {
    width: 75%;
  }

  #sticky-name,
  #sticky-nav {
    text-align: center;
  }

  #jump-to-top {
    right: 0;
  }

  #birdspotting .project-details p:first-of-type {
    display: none;
  }
}
