.About {
  text-align: left;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 37px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  margin: 10px 0;
}

.link-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.link-wrapper a {
  background-color: lavender;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}