@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento');

* {
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.App > div {
  width: 60%;
}

h1 {
  font-family: 'Sacramento', cursvive;
  font-size: 50px;
  padding: 30px 0 10px;
}

nav {
  background-color: darkgreen;
  margin: 10px auto 40px;
  padding: 10px 20px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

nav ul li button {
  background-color: darkgreen;
  border: 0;
  color: silver;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

nav ul li button:focus {
  outline: none;
}