.Work {
  text-align: left;
}

.project-wrapper .project {
  margin: 20px;
  text-align: center;
}

h3 {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

img {
  border: 1px #000 solid;
  border-radius: 5px;
  width: 320px;
}