.Work {
  text-align: left;
}

.project-wrapper .project {
  margin: 20px;
  text-align: center;
}

h3 {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

img {
  border: 1px #000 solid;
  border-radius: 5px;
  width: 320px;
}

hr.divider {
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px 0 0 0;
    height: 30px;
    margin: 50px auto 20px;
    overflow: visible; /* For IE */
}

hr.divider:before { /* Not really supposed to work, but does */
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 0 0 1px 0;
    content: "";
    display: block;
    height: 30px;
    margin-top: -31px;
}